<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />
  <add name="CCMDbContext" connectionString="Server=192.168.100.11;Initial Catalog=EIP;User ID=sa;Password=6937937" providerName="System.Data.SqlClient" />
<!-- 身分認證 -->
  <add name="IdentityConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CCMEIP.mdf;Initial Catalog=CCMEIP;Integrated Security=True" providerName="System.Data.SqlClient"/>
 

</connectionStrings>