<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />
  <add name="CCMDbContext" connectionString="Server=192.168.100.11;Initial Catalog=EIP;User ID=sa;Password=6937937" providerName="System.Data.SqlClient" />
  <add name="CCMLocalDb" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\CCMMIS.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <add name="IdentityConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CCMMIS.mdf;Initial Catalog=CCMMIS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="CCMIdentityConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=|DataDirectory|\CCMMIS.MDF;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    

</connectionStrings>